<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<form th:method="PATCH" th:action="@{{id}(id=${user.getId()})}" th:object="${user}">
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Password</th>
            <th>Role</th>
        </tr>
        <tbody>
        <td>
            <label for="username">Edit name</label>
            <input type="text" th:field="*{username}" id="username"/>
            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" >name error</div>
        </td>
        <td>
            <label for="age">Edit age</label>
            <input type="number" th:field="*{age}" id="age">
            <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div>
        </td>
        <td>
            <label for="password">Edit password</label>
            <input type="password" th:field="*{password}" id="password">
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>
        </td>
        <td>
            <label for="roles">Edit role (1 - admin; 2 - user; 1, 2 - admin and user</label>
            <input type="text" th:field="*{roles}" id="roles"/>
            <div style="color:red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" >role error</div>
        </td>
        </tbody>
    </table>

<button type="submit" onclick="window.location.href = '/admin/admin'">
    Edit User
</button>
<br>
<br>
<button type="button" onclick="window.location.href = '/admin/admin'">Back to users</button>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout">
    </form>
</form>
</body>
</html>